{% extends 'polyglot/base_polyglot.html' %}

{% block title %}
   Theme: {{ theme.id }} -- {{ block.super }}
{% endblock %}

{% block content %}
  <h2 class="mb-5"> Theme: {{ theme.rusname }} </h2>

  <div class="card text-left mb-4">
    <div class="card-header">
      <div class="row">
        <div class="col text-left">
          <b>id: {{ theme.id }}</b>
        </div>
        <div class="col text-left">
          <b>{{ theme.rusname }}</b>
        </div>
        <div class="col text-left">
          <b>{{ theme.engname }}</b>
        </div>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">{{ theme.description|linebreaks }} </p>
    </div>
    <!-- <div class="card-footer text-muted">
    </div> -->
  </div>

{% endblock %}
