{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
          integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>
    {% block title %}
    Silvers Projects
    {% endblock %}

  </title>
</head>
<body>

<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand"> SilverProjects </a>
    <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
    <!--          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--    <span class="navbar-toggler-icon"></span>-->
    <!--  </button>-->

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            Anecdotes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'anecdotes_list_url' %}">Anecdotes</a>
            <a class="dropdown-item" href="{% url 'tags_list_url' %}">Tags</a>
            <a class="dropdown-item" href="{% url 'check_dup_url' %}">CheckDB </a>

            <div class="dropdown-divider"></div>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Hebrew
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'pron_list_url' %}">Pronouns </a>
            <a class="dropdown-item" href="{% url 'prep_list_url' %}">Prepositions and Particles </a>
            <a class="dropdown-item" href="{% url 'themes_list_url' %}">Themes </a>
            <a class="dropdown-item" href="{% url 'hebrewroots_list_url' %}">Hebrew Roots </a>
            <a class="dropdown-item" href="{% url 'ruswords_list_url' %}">RusWords </a>
            <a class="dropdown-item" href="{% url 'binyans_list_url' %}">Binyans </a>
            <a class="dropdown-item" href="{% url 'pos_list_url' %}">Parts Of Speech </a>
            <a class="dropdown-item" href="{% url 'symbols_list_url' %}">Hebrew Symbols </a>

            <div class="dropdown-divider"></div>
          </div>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Billing
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
<!--            <a class="dropdown-item" href=""> Balances </a>-->

            <div class="dropdown-divider"></div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            HandBook
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'lforms_list_url' %}"> LegalForms </a>
            <a class="dropdown-item" href="{% url 'orgs_list_url' %}"> Organizations </a>

          <div class="dropdown-divider"></div>
          </div>
        </li>
      </ul>
    </div>

    {% if counter %}
    <nav class="navbar navbar-light">
      <span class="navbar-text">
        Total elements: {{ counter }}
      </span>
    </nav>
    {% endif %}

    {% if show_query %}
      <form action="{% url function_name %}" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" value="{{search_query}}" type="search" placeholder="Search"
               aria-label="Search" name="query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    {% endif %}

    <nav class="navbar navbar-light">
      <a href="/admin" class="btn btn-outline-info"> Admin </a>
    </nav>
  </nav>

  {% if request.user.is_authenticated and request.user.is_staff %}
    <div class="admin-panel align-items-center">
      {% block admin-panel %} {% endblock %}
    </div>
  {% endif %}

</header>


<div class="container">
  <div class="row">
    <div class="col-10 offset-md-1">
      {% block content %}
        There is no content for you :-)
      {% endblock %}
    </div>
  </div>
</div>

<footer>
  {% if is_paginated %}
  <div class="col-10 offset-md-1">


    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item {% if not prev100_url %} disabled {% endif %}">
          <a class="page-link" href="{{ prev100_url }}">Previous100 </a>
        </li>
        <li class="page-item {% if not prev10_url %} disabled {% endif %}">
          <a class="page-link" href="{{ prev10_url }}">Previous10 </a>
        </li>
        <li class="page-item {% if not prev_url %} disabled {% endif %}">
          <a class="page-link" href="{{ prev_url }}">Previous</a>
        </li>

        {% for n in page_object.paginator.page_range %}
          {% if page_object.number == n %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{n}}&query={{search_query}}">{{n}} <span
                    class="sr-only">(current)</span></a>
          </li>
          {% elif n > page_object.number|add:number_pages_to_view_b and n < page_object.number|add:number_pages_to_view_f %}
          <li class="page-item">
            <a class="page-link" href="?page={{n}}&query={{search_query}}"> {{n}}</a>
          </li>
          {% endif %}
        {% endfor %}

        <li class="page-item {% if not next_url %} disabled {% endif %}">
          <a class="page-link" href="{{ next_url }}">Next</a>
        </li>
        <li class="page-item {% if not next10_url %} disabled {% endif %}">
          <a class="page-link" href="{{ next10_url }}">Next10</a>
        </li>
        <li class="page-item {% if not next100_url %} disabled {% endif %}">
          <a class="page-link" href="{{ next100_url }}">Next100</a>
        </li>
      </ul>
    </nav>
  </div>

  {% endif %}
</footer>
</body>
</html>
